---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody" id="content">
    {% if page.toc %}
    <h1>Содержание</h1>
    {% include toc.html html=content %}
    <hr>
    {% endif %}
    {{ content }}
  </div>
  {% if page.submodule %}
  <script>
    function fixer() {
      return function(img) {
        return function() {
          if (img.trying_to_fix === undefined) {
            var url = new URL(img.src);
            console.log("[SUBMODULES FIXER] Trying to fix img: " + url);
            img.src = "{{ page.thisname }}" + url.pathname;
            img.trying_to_fix = true;
          } else {
            console.log("[SUBMODULES FIXER] Unable to fix: " + img.src);
          }
        };
      };
    }

    function changeTag(class_, newtag) {
      let collection = document.getElementsByClassName(class_);
      for (var j = 0; j < collection.length; j++) {
        var item = collection.item(j);
        // Thank you Barney Carroll, https://jsfiddle.net/barney/kDjuf/
        // Grab the original element
        var original    = item;
        // Create a replacement tag of the desired type
        var replacement = document.createElement(newtag);

        // Grab all of the original's attributes, and pass them to the replacement
        for(var i = 0, l = original.attributes.length; i < l; ++i){
          var nodeName  = original.attributes.item(i).nodeName;
          var nodeValue = original.attributes.item(i).nodeValue;

          replacement.setAttribute(nodeName, nodeValue);
        }

        // Persist contents
        replacement.innerHTML = original.innerHTML;

        // Switch!
        original.parentNode.replaceChild(replacement, original);
      }
    }

    function fixAll() {
      var collection = document.getElementById("content").getElementsByTagName("img");
      for (var i = 0; i < collection.length; i++) {
        var item = collection.item(i);
        var url = new URL(item.src);
        if (url.host === window.location.host) {
          item.addEventListener('error', fixer()(item));
          if (item.complete) {
            fixer()(item)();
          }
        }
      }

      changeTag("youtube", "iframe");
    }

    fixAll();

    document.addEventListener("DOMContentLoaded", function(){
      fixAll();
    });

    document.addEventListener("load", function(){
      fixAll();
    });
  </script>
  {% endif %}
</article>
</section>
<div style="height: 20px;"></div>
<section class="main-content">
<article itemscope itemtype="http://schema.org/BlogPosting">
  <!-- ------------------------------------------------------------------ -->
  <!-- utteranc.es -->
  <script src="https://utteranc.es/client.js"
          repo="optozorax/optozorax.github.io"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
  <!-- ------------------------------------------------------------------ -->
</article>
</article>
</section>
<div style="height: 20px;"></div>
<section class="main-content">
<article itemscope itemtype="http://schema.org/BlogPosting">
