---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody">
    {% if page.toc %}
    <h1>Содержание</h1>
    {% include toc.html html=content %}
    <hr>
    {% endif %}
    {{ content }}
  </div>
</article>
</section>
<div style="height: 20px;"></div>
<section class="main-content">
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div id="commento"></div>
  <script src="https://cdn.commento.io/js/commento.js"></script>
</article>
</article>
</section>
<div style="height: 20px;"></div>
<section class="main-content">
<article itemscope itemtype="http://schema.org/BlogPosting">